{erl_opts, [debug_info]}.

{deps, [
    {hackney, "2.0.0-beta.1"}
]}.

{shell, [
    {apps, [barrel_embed]}
]}.

{profiles, [
    {test, [
        {eunit_opts, [verbose]}
    ]}
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used
]}.
